<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!-- Определяет пространство имен для XHTML и Thymeleaf -->
<html lang="en"> <!-- Указывает, что язык содержимого страницы — английский -->
<head> <!-- Содержит метаданные о документе, такие как кодировка и заголовок -->
    <meta charset="UTF-8"> <!-- Указывает, что документ использует кодировку UTF-8 -->
    <title></title> <!-- Тег для указания заголовка страницы, который отображается на вкладке браузера. В данном случае он пустой -->
</head>
<body> <!-- Основное содержимое страницы -->
<div> <!-- Контейнер для группировки элементов -->
    <th:block th:each="msg : ${messages}"> <!-- th:block — это специальный элемент Thymeleaf, который не отображается в HTML, но используется для группировки других элементов -->
        <!-- th:each — это атрибут Thymeleaf, который используется для итерации по коллекции. В данном случае он перебирает элементы из переменной messages, которая, вероятно, является списком строк. msg — это переменная, которая будет представлять текущий элемент в каждой итерации -->
        <h1 th:text="${msg}"></h1> <!-- Этот тег создает заголовок первого уровня (h1). th:text="${msg}" — это атрибут Thymeleaf, который заменяет текст внутри тега h1 на значение переменной msg из текущей итерации. Таким образом, для каждого сообщения в messages будет создан отдельный заголовок h1 -->
    </th:block> <!-- Закрытие блока th:block -->
</div> <!-- Контейнер для группировки элементов -->
</body> <!-- Основное содержимое страницы -->
</html>